@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 40%;
    margin-top: 0px;
}